body{
    background-color: gray;
    margin: 0;
    padding: 0;
}

.wrapper{
    margin: 0 auto;
    background-color: white;
    width: 414px;
    min-height: 896px;
    background-image: url(../mockbilder/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar{
    z-index: 1;
    position: sticky;
    top: 0;
    padding: 8px;
    display: flex;
    background-color: white;
    height: 38px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.navbar>button{
    padding: 0;
    width: 34px;
    height: 34px;
    border: none;
    background-color: white;
    background-size: cover;
}

.button-icon{
    fill:none;
    stroke:#a7a7a7;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-width:34px
}

.button-icon:hover{
    stroke:black;
}

main{
    padding: 12px;
    margin: 12px;
    max-width: 100%;
    font-family: 'Roboto';
    color: #fff;
}

h1{
    font-weight: 100;
}

main p{
    width: 70%;
    text-align: left;
}

label{
    position: relative;
}
label::before{
    content: "";
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    width: 20px;
    background:url('../svg/search-outline.svg');
    background-size: contain;
    background-repeat: no-repeat;
}
input{
    z-index: -1;
    padding: 10px 30px;
    width: 83.5%;
    border-radius: 7px;
    border: 0px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.image{
    background-image: url('../mockbilder/us.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 394px;
    height: 400px;
    margin: 0 auto;
}

.prototype{

}
