body {
    background-color: gray;
    margin: 0;
    padding: 0;
}

.wrapper {
    margin: 0 auto;
    background-color: white;
    max-width: 1200px;
    min-height: 100vh;
    background-image: url(../mockbilder/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}

.navbar {
    z-index: 1;
    position: sticky;
    top: 0;
    padding: 8px;
    display: flex;
    background-color: white;
    height: 38px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.navbar > button {
    padding: 0;
    width: 34px;
    height: 34px;
    border: none;
    background-color: white;
    background-size: cover;
}

.button-icon {
    fill: none;
    stroke: #a7a7a7;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 34px;
}

button.like.true > svg {
    fill: rgb(241, 64, 64);
    stroke: none;
}

.button-icon:hover {
    stroke: black;
}

main {
    padding: 12px;
    margin: 12px;
    max-width: 100%;
    font-family: "Roboto";
    color: #fff;
}

h1 {
    font-weight: 100;
}

main > p {
    width: 70%;
    text-align: left;
}

.search-container {
    display: flex;
    flex-wrap: nowrap;
    background: white;
    padding: 10px 10px;
    
    border: 0px solid white;
    border-radius: 7px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.search-container > button.search {
    width: 20px;
    height: 20px;
    background: url("/svg/search-outline.svg");
    background-size: contain;
    background-repeat: no-repeat;
    border: 0;
}

.search-container > button.search.left {
    display: none;
}

.search-container > input {
    flex-grow: 1;
    min-width: 0;
    border: 0;
}

section.search-result-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
    width: 83.5%;
    /* box-sizing: border-box; */
}

article.result-image {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 400px;
    height: 300px;
    padding: 5px;
    background: white;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-left: 10px;
}

.subTitle{
    color: red;
    position: sticky;
    top: 0;
}

article.result-image > .top {
    display: flex;
    flex-wrap: nowrap;
    /* background: rgb(71, 30, 30); */
    padding: 0;
    width: 100%;
    align-items: center;
    min-height: 50px;
}

article.result-image > .top > p.owner {
    flex-grow: 1;
    color: black;
    margin: 0;
}

article.result-image > .top > button, article.result-image > .top > a{
    padding: 0;
    width: 34px;
    height: 34px;
    border: none;
    background-color: white;
    background-size: cover;
}

.result-image.list-view.prototype{
    display: none;
}

article.result-image > .img-container {
    display: flex;
    flex-grow: 1;
    width: 100%;
    min-height: 0;
    background: darkblue;
    /* box-sizing: border-box; */
}

article.result-image > .img-container > img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

@media screen and (max-width: 640px) {
    .search-container {
        width: 100%;
        box-sizing: border-box;
    }

    section.search-result-container {
        width: 100%;
    }

    article.result-image {
        margin-left: 0px;
    }
}